In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("../data/raw/Trasplantes 2011-2022 16082023.xlsx", sheet_name="bdgrd")

In [4]:
df.columns

Index(['rut', 'dv', 'Fecha Nacimiento', 'Edad en años',
       'Prevision ( Cod+Desc )', 'Servicio Salud (des)',
       'Diag 01 Principal (cod+des)', 'Proced 01 Principal (cod+des)',
       '1ra Intervención Fecha', 'Fecha de trasplante', 'Fecha de egreso',
       'Motivo Egreso (Descripción)', 'Egresos', 'Fallecido (Si/No)',
       'Fecha fallecimiento', 'fecha tx', 'año intervencion', 'año tx',
       'tipo'],
      dtype='object')

In [6]:
columnas_utiles = ["1ra Intervención Fecha", "Fecha fallecimiento"]
fecha_corte = pd.to_datetime("16/08/2023", dayfirst=True)

In [30]:
df_sobrevivencia = df[columnas_utiles].copy()
df_sobrevivencia.columns = ["fecha_trasplante", "fecha_muerte"]

In [31]:
df_sobrevivencia["fecha_tope"] = df_sobrevivencia["fecha_muerte"].fillna(fecha_corte)
df_sobrevivencia["duracion_dias"] = (
    df_sobrevivencia["fecha_tope"] - df_sobrevivencia["fecha_trasplante"]
).dt.days
df_sobrevivencia["muerto"] = df_sobrevivencia["fecha_muerte"].notna()

In [32]:
df_sobrevivencia

    fecha_trasplante fecha_muerte fecha_tope  duracion_dias  muerto
0         2011-01-07   2012-09-14 2012-09-14            616    True
1         2011-01-18   2012-08-02 2012-08-02            562    True
2         2011-02-24          NaT 2023-08-16           4556   False
3         2011-02-24   2022-10-14 2022-10-14           4250    True
4         2011-04-12          NaT 2023-08-16           4509   False
..               ...          ...        ...            ...     ...
195       2011-01-26          NaT 2023-08-16           4585   False
196       2011-06-17          NaT 2023-08-16           4443   False
197       2011-09-15          NaT 2023-08-16           4353   False
198       2012-11-06          NaT 2023-08-16           3935   False
199       2012-12-12          NaT 2023-08-16           3899   False

[200 rows x 5 columns]